@font-face {
  font-family: 'Bauhaus 93';
  src: url('Bauhaus93.ttf') format('truetype');
  font-family: 'Zone Em';
  src: url('ZoneEm.ttf') format('truetype');
  }
html {
  scroll-behavior: smooth;
  background-color: black;
  font-size: 1.2vw;
  color: white;
  padding: 0%;
  }
body {
  font-family: 'Bauhaus 93', sans-serif;
  letter-spacing: 0.2vw;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  }
  /*----------------------------------HOME PAGE----------------------------------*/
  /*-------------------------HEADER-------------------------*/
#logo_link {
  position: absolute;
  z-index: 3;
  width: 30%;
  height: 9vw;
  top: 0;
  left: 0;
}
header  {
  background-image: url('images/home/logo_header.webp');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1vw;
  padding: 0;
  width: 100%;
  height: 8.7vw;
}
#navtop { margin-right: 2%; margin-left: 45%; }
#navtop ul {
  padding: 0.5vh;
  padding-left: 15%;
  padding-right: 0;
  font-size: 1.4vw;
  font-weight: bold;
  letter-spacing: 0.1vw;
  font-family: 'Bradley Hand ITC', 'Bauhaus 93', sans-serif;
  background-color: #ED97CF;
  padding-bottom: 90%;
  border-radius: 2vw;
  display: flex;
  text-align: center;
  justify-content: space-around;
  list-style-type: none;
  z-index: 4;
}
#navtop ul li a {
  text-decoration: none;
  color: black;
  padding-top: 2vw;
  padding-bottom: 2vw;

}
#navtop ul li {
  z-index: 4;
  margin-top: 0.5vw;
  padding: 1vw;
  border-radius: 1vw;
}

/* ------------------------- WELCOME SECTION -------------------------*/
#welcome h1{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2vw;
  font-size: 5vw;
  letter-spacing: 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  color: #ED97CF;
}
#black { color: black ; }
#white {
  z-index: 3;
  color: white;
  grid-column: 1/-1 ;
  font-size: 5.5vw;
}
#bg_welcome {
  margin-top: -31%;
  margin-left: -17%;
  width: 20%;
}
#welcome span img{ margin-top: 14vw; }
#welcome a{
  margin-left: -42%;
  margin-top: 5%;
  position: absolute;
  z-index: 5;
}

  /* ------------------------- MENU SECTION -------------------------*/
#menu_links {
  padding: 0;
  display: flex;
  margin-top: 0;
  margin-bottom: 7%;
  list-style-type: none;
  justify-content: center;
}
section nav ul li a img{
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10%;
}
#menu_links li{
  background-color: #ED97CF;
  border-radius: 10%;
  width: 20%;
  margin: 2%;
}
.image_link {
  text-decoration: none;
  color: white;
  font-size: 2.5vw;
} 
.image_link p{ margin-top: 0; margin-bottom: -20%; }
#guitar_playing {
  margin-left: -6%;
  width: 105%;
  margin-top: -9%;
}
#pages { margin-top: 5%; width: 61%; }
#man_walking { margin-top: -10%; margin-left: -14%; }
  /* ------------------------- LEARN SECTION -------------------------*/

#learn { height: 40vw; }
#learn h2 { margin-bottom: 1%; }
#chord_choise{
  z-index: 0;
  width: 70%;
  height: 60%;
  background-color: #ED97CF;
  border-radius: 5vw;
  margin-left: 15%;
  margin-right: 15%;
  overflow: visible;
}
#learn div ul {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
#guitar_zoom {
  position: absolute;
  width: 75%;
  margin-left: -35%;
  margin-right: 10%;
}
#d_chord {
  position: relative;
  align-self: self-start;
  margin-top: -5%;
  margin-left: 8%;
  width: 10%;
}
#g_chord {
  position: relative;
  align-self: self-end;
  margin-right: 8%;
  margin-top: -3%;
  width: 10%;
}
.chord_hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: visibility 0s, opacity 0.5s linear;
  top: 0;
  left: 0;
}
.circle {
  z-index: 6;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: white;
}
#chord {
  width: 10%;
  display: grid;
  grid-template-rows: repeat(3, 1fr); 
  grid-template-columns: 1fr 1fr;
  margin-top: 1%;
  margin-right: 11%;
}
#first_finger { grid-area: 2/1/3/1; }
#second_finger { grid-area: 1/2/2/2; }
#third_finger {
  margin-top: -15%;
  grid-area: 3/2/4/2;
}
.choise { z-index: 8; }
.choise img{ width: 170%; }
#chord_choise p{
  font-size: 2.5vw;
  margin-top: 0;
  margin-bottom: 2%;
}
#volume2 { width: 25%; margin-top: -4%; }
#volume3 { margin-top: 5%; }
#chord_choise p { margin: 0; }
/* ------------------------- STOCK SECTION -------------------------*/

#stock { height: 40vw; }
#stock h2 { margin-top: 5%; margin-bottom: 0; }
#song {
  font-family: Century Gothic, sans-serif;
  font-size: 1.3vw;
  width: 75%;
  height: 60%;
  margin-bottom: 2%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  overflow: visible;
}
#song  ul{
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.song_player {
  width: 40%;
  height: 117%;
  background-color: #ED97CF;
  border-radius: 10%;
  border: 0.4vw solid white;
  position: relative;
}
.song_player h3, h4 {
  text-align: left;
  margin: 0;
  margin-top: 2%;
  margin-left: 4%;
  color: black;
  z-index: 7;
}
.song_player img {
  position: absolute;
  top: 13%;
  left: 7.5%;
}
.song_player .album { width: 55%; left: 22.5%; }
.player {
  width: 85%;
  z-index: 8;
}
#song_text {
  font-family: Century Gothic, sans-serif;
  width: 60%;
  text-align: center;
}
#song_text p {
  margin-left: 5%;
  line-height: 140%;
  letter-spacing: 0.1vw;
}
#song_text span { margin-right: 25%; }
#song_text strong {
  padding: 0.5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ED97CF;
  color: black;
  border-radius: 0.5vw;
}
#stock a { margin-right: 15%; }

/* ------------------------- INSPIRE SECTION -------------------------*/
#inspire { height: 40vw; margin-bottom: 10%; }
#inspiration  {
  width: 50%;
  margin-top: -2%;
  margin-left: -15%
}
#inspire p {
  font-family: Century Gothic, sans-serif;
  font-size: 1.3vw;
}
#volume4 { margin-top: -4%; }
/* ------------------------- FOOTER -------------------------*/
footer {
  font-family: Century Gothic, sans-serif;
  color: black;
  font-weight: bold;
  background-color: #ED97CF;
  border-top-left-radius: 2.5vw;
  border-top-right-radius: 2.5vw;
  margin: auto auto;
  width: 95%;
  height: 17vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
footer p { font-size: 1.3vw; margin: 0.5vw; }
#logo_footer {
  width: 20%;
  margin-top: -5%;
  background-color: black;
  border-radius: 2vw;
}
#logo_footer img { width: 70%; margin-bottom: 5%; }
#navbottom {
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  width: 50%;
  height: 35%;
  border-radius: 2vw;
} 
#navbottom a {
  width: 10%;
  margin-left: 5%;
  margin-right: 5%;
}
#navbottom a img { width: 110%; }

/* ------------------------- HOME CLASSES -------------------------*/
.titles{
  text-align: right;
  font-size: 4vw;
  letter-spacing: 1.5vw;
  margin-right: 10%;
}
.button{
  padding: 0.8vw;
  padding-top: 0;
  font-size: 2.5vw;
  color: black;
  text-decoration: none;
  background-color: white;
  border: 0.4vw solid #ED97CF;
  border-radius: 1vw;
  margin-top: 1vw;
  text-align: right;
  float: right;
}

.decorative_icon{
  margin-bottom: -4vw;
  margin-left: -3vw;
  width: 7vw;
}
.bg_volume img{
  float: left;
  width: 18%;
}

/* ---------- HOME ANIMATIONS ---------------*/
#navtop ul li, .button, .menu_links li, #d_chord_green, #g_chord_red, #chord, #navbottom a img {
  transition: all 0.5s ease-in-out;
}
#navtop ul li:hover {
  background-color: rgb(234, 206, 227, 0.5);
  border-radius: 1.5vw;
  transform: translateY(-0.1vw);
}
.button:hover {
  position: relative;
  box-shadow: 0 0 1vw white;
  transform: translateY(-0.1vw);
}
#menu_links li:hover {
  position: relative;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 1.5vw white;
  transform: translateY(-0.2vw);
}
#d_chord:hover #d_chord_green {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
#g_chord:hover #g_chord_red{
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
#chord:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}
#navbottom a img:hover {
  transform: translateY(-0.2vw);
}

  /* ----------------------------------- HOME TABLET -----------------------------------*/
  @media screen and (max-width: 992px) {
      /*-------------------------HEADER-------------------------*/
    #logo_link {
      width: 100%;
      height: 35vw;
    }
    header {
    background-image: url('images/home/logo_header_mobile.webp');
    background-size: 100%;
    height: 75vw;
    }
    #navtop {
      margin:0%;
    }
    #navtop ul {
      position: relative;
      width: 80%;
      margin: auto auto;
      padding: 0;
      top: 40vw;
      font-size: 5vw;
      border-radius: 4vw;
      flex-direction: column;
    }
    #navtop ul li a {
      padding-left: 20%;
      padding-right: 20%;
      z-index: 20;
    }
    
    /* ------------------------- WELCOME SECTION -------------------------*/
    #welcome h1 {
      font-size: 12vw;
      display: flex;
      flex-direction: column;
      align-items: start;
      color: #ED97CF;
      letter-spacing: 3vw;
      position: relative;
      z-index: 5;
      }
    #black { text-shadow: 0 0 2vw rgb(255, 255, 255) }
    #white { font-size: 12vw; }
    #bg_welcome {
      position: absolute;
      z-index: 4;
      top: 7%;
      left: 80%;
      width: 32%;
    }
    #welcome { height: 90vw; }
    #welcome a{
      margin-top: -5%;
      margin-left: -25%;
    }
    
      /* ------------------------- MENU SECTION -------------------------*/
    #menu_home { height: 145vw; }
    #menu_links {
      flex-direction: column;
      align-items: center;
    }
    section nav ul li a img{
      padding-bottom: 8%;
      border-radius: 10%;
    }
    #menu_links li{
      width: 45%;
      margin-bottom: 10%;
    }
    .image_link p{
      font-size: 5vw;
      letter-spacing: 1vw;
    }
      /* ------------------------- LEARN SECTION -------------------------*/
    
    #learn { height: 120vw; }
    #learn h2 {
      z-index: 6;
      position: relative;
    }
    #chord_choise{
      z-index: 0;
      width: 70%;
      height: 60%;
      background-color: #ED97CF;
      border-radius: 5vw;
      margin-left: 15%;
      margin-right: 15%;
      overflow: visible;
    }
    #learn div ul {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 10%;
      align-items: center;
      list-style-type: none;
    }
    #guitar_zoom {
      margin-top: 15%;
      position: absolute;
      transform: rotate(-50deg);
      width: 120%;
      margin-left: -62%;
    }
    #d_chord {
      margin-top: 0;
      margin-left: -2%;
      width: 22.5%;
    }
    #g_chord {
      margin-top: -20%;
      margin-right: 12%;
      width: 22.5%;
    }
    .circle {
      width: 3.5vw;
      height: 3.5vw;
    }
    #chord {
      grid-template-rows: repeat(2, 1fr); 
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 15%;
      row-gap: 15%;
      margin-top: 5%;
      margin-right: 15%;
    }
    #first_finger { grid-area: 1/1/2/1; }
    #second_finger { grid-area: 1/3/2/4; }
    
    #third_finger {
      margin-top: 0%;
      grid-area: 2/1/3/2;
    }
    .choise img{ width: 170%; }
    #chord_choise p{
      font-size: 5vw;
      position: relative;
      z-index: 6;
    }
    #chord_choise p { margin-bottom: 5%; }

    /* ------------------------- STOCK SECTION -------------------------*/
    #stock { height: 170vw; }
    #stock h2 { margin: 0; }
    #song {
      font-size: 2vw;
      width: 100%;
      height: 72.5%;
      margin: 0;
    }
    #song  ul{
      flex-direction: column;
      align-items: center;
    }
    .song_player {
      width: 50%;
      height: 90%;
      border: 0.6vw solid white
    }
    #song_text { width: 100%; }
    #song_text p {
      line-height: 160%;
      font-size: 3vw;
      margin: 0;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    #stock a { margin-right: 27.5%; }
    /* ------------------------- INSPIRE SECTION -------------------------*/
    #inspire {
      height: 90vw;
      margin-left: 5%;
      margin-right: 5%;
    }
    #inspiration  {
      width: 75%;
      margin: 0
    }
    #inspire p {
      font-family: Century Gothic, sans-serif;
      font-size: 2.8vw;
    }
    /* ------------------------- FOOTER -------------------------*/
    footer {
      width: 85%;
      height: max-content;
    }
    footer p {
      font-size: 3vw;
      margin: 2vw;
    }
    #logo_footer {
      width: 50%;
      margin-top: -20%;
      border-radius: 3vw;
    }
    #navbottom {
      flex-direction: column;
      width: 50%;
      height: max-content;
      border-radius: 3vw;
    } 
    #navbottom a {
      width: 75%;
      margin: 0;
    }
    #navbottom a img { width: 70%; }
    
    /* ------------------------- HOME CLASSES -------------------------*/
    .titles{
      font-size: 7.5vw;
      text-align: center;
      margin: 0;
    }
    .button{
      font-size: 7vw;
      border: 1vw solid #ED97CF;
      border-radius: 2vw;
    }
    .decorative_icon{
      margin-bottom: -7vw;
      margin-left: -4vw;
      width: 12vw;
    }
    .bg_volume { display: none; }

     /* ---------- HOME ANIMATIONS ---------------*/
    .button:hover {
      box-shadow: 0 0 2vw white;
      transform: translateY(-0.5vw);
    }
    #navtop ul li:hover {
      border-radius: 5vw;
      transform: translateY(-0.4vw); 
    }
    #menu_links li:hover {
      position: relative;
      transition: 0.5s ease-in-out;
      box-shadow: 0 0 4vw white;
      transform: translateY(-0.6vw);
    }
    #chord:hover { transform: scale(1.2); }
    #navbottom a img:hover {
      transform: translateY(-0.6vw);
    }
  }

  /*----------------------------------CHORDS PAGE----------------------------------*/
  /*-------------------------HEADER-------------------------*/

#chords_songs_main{
  margin-left: 10%;
  margin-right: 10%;
}
#navtop #nav_links_other_pages { padding-bottom: 5%; }

/* ------------------------- BANNER -------------------------*/
#banner {
  background-image: url('images/chords/strings.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  height: 12vw;
  width: 100%;
  margin-top: 5%;
}
#banner div {
  width: 70%;
  height: max-content;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  margin-top: -2.6%;
}
#banner div #row1 {
  align-self: flex-start;
  margin-bottom: 1%;
}
#banner div #row2 { align-self: flex-end; }
#banner div #row3 { margin-left: -20%; }
#banner h2 {
  font-size: 3vw;
  letter-spacing: 1vw;
  margin: 0;
  width: max-content;
}

/* ------------------------- CHORDS LIBRARY -------------------------*/
#chords_library {
  margin-bottom: 15%;
  padding: 0;
  list-style-type: none;
}
#chords_groups { padding: 0; }
.chord ul, .song_chords ul {
  margin-top: 5%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  background-color: #ED97CF;
  padding: 2%;
  padding-top: 0;
  border-radius: 2.5vw;
}
.chord ul li h3, .song_chords ul li h3 {
  font-family: Century Gothic, sans-serif;
  background-color: black;
  font-size: 1.5vw;
}
.chord ul li p {
  color: black;
  margin: 0;
  padding: 0;
  margin-top: -7%;
}
.chord ul li img {
  width: 100%;
  margin-bottom: -55%;
}
.chord ul li { margin: 1%; }
.chord {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#Gm6, #B, #Bm, #Bb, #Bbm6, #F, #E7 { margin-top: 11%; }
audio {
  margin-top: 5%;
  width: 25vw; 
  height: 4vw; 
}

/* ---------------------- CHORDS LIBRARY TABLET ----------------------*/

@media screen and (max-width: 992px) {
  #navtop #nav_links_other_pages { padding-bottom: 0; }
  #banner {
    margin: 20% 0;
    width: 100%;
    background-position: left center;
    height: 30vw;
    background-size: cover;
  }
  #banner div {
    margin-top: -4%;
    width: 70%;
    justify-content: center;
    align-items: center;
  }
  #banner div #row1, #banner div #row2, #banner div #row3 {
    font-size: 6vw;
    align-self: center;
    margin-bottom: 1.5%;
    padding: 0;
  }
  .chord ul, .song_content .song_chords ul{
    flex-wrap: wrap;
    border-radius: 4vw;
    padding: 0;
  }
  .chord ul li img {
    width: 100%;
    margin: 0;
  }
  .chords_images {
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    order: -1;
  }
  #chords_groups li ul .chords_images img {
    width: 70%;
    margin-top: -30%;
    margin-bottom: -15%;
  }
  .chord ul li h3, .song_chords ul li h3 { font-size: 300%; }
  .chord ul li p{ 
    font-size: 3.5vw;
    height: 10%;
  }
  audio {
    width: 100%;
    height: 10vw;
    margin-bottom: 15%;
  }
}

  /*----------------------------------SONGS PAGE----------------------------------*/
#chords_songs_main #songs_library { transition: all 1s ease-in-out; }
.song_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
  padding: 0 1em;

  display: grid;
  padding: 0;
  grid-template-columns: 22vw 3fr;
  grid-template-rows: auto auto auto auto;
  row-gap: 1%;
  column-gap: 3%;
}
input[type="checkbox"] { display: none; }
input[type="checkbox"]:checked + label + .song_content { max-height: 200vw; }
#songs_library {
  margin-top: 5%;
  font-family: Century Gothic, sans-serif;
}
.song_title {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 1%;
  width: 100%;
  height: 3vw;
  background-color: #ED97CF;
  color: black;
  border: white 0.3vw solid;
  border-radius: 1vw;
  text-align: left;
}
.song_title strong { padding-left: 6%; }
.play_icon{
  width: 2.5vw;
  height: 2.5vw;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  margin-left: 1%;
}
.triangle {
  width: 80%;
  height: 90%;
  top: 5%;
  left: 20%;
  background-color: #ED97CF;
  clip-path: polygon(15% 20%, 15% 80%, 80% 50%);
  position: absolute;
}
.song_player h3, .song_player h4 {
  position: relative;
  z-index: 7;
}
.song_content li {
  list-style-type: none;
  background-color: #ED97CF;
  border-radius: 2vw;
}
.song_chords ul li img {
  width: 100%;
  height: 8vw;
}
.song_chords ul li #E7, .song_chords ul li #F { height: 7.2vw; }
.song_content .song_player {
  width: 100%;
  height: 100%;
  grid-area: 1/1/4/1;
}
.song_content .song_chords { grid-column: 2/4; }
.verse_rythm {
  padding-left: 3%;
  grid-area: 2/2/3/4;
}
.chorus_rythm { padding-left: 3%; }
.verse_rythm, .chorus_rythm{
  display: flex;
  align-items: center;
}
.verse_rythm h3, .chorus_rythm h3 {
  margin: 0;
  font-family: 'Bauhaus 93', sans-serif;
  color: black;
  display: inline;
}
.verse_rythm img {
  width: 80%;
  margin-bottom: -2%;
  margin-left: 5%;
}
.chorus_rythm img {
  margin-left: 5%;
  width: 50%;
  margin-bottom: -2%;
}
.chorus_rythm { grid-area: 3/2/4/4; }
.song_content .song_lyrics {
  background-color: black;
  grid-area: 4/1/5/4;
}
.song_chords ul {
  margin-top: 0;
  column-gap: 1%;
}
.song_lyrics p {
  margin-bottom: 10%;
  line-height: 140%;
}
.song_lyrics p strong {
  padding: 1%;
  line-height: 300%;
  color: black;
  background-color: #ED97CF;
  border-radius: 1vw;
}
.chord_gap {margin-right: 20%; }
#mad_world .verse_rythm{ grid-row: 2/4; }
#mad_world .song_player h4{ font-size: 0.8vw; }
#mad_world .song_player { height: 125%; }
#mad_world .song_player .album { top: 20%; }
.verse_rythm #mw_rythm{
  width: 30%;
  margin-bottom: -2%;
}
#coming_soon {
  width: 100%;
  margin-bottom: 10%;
}
/*----------------------------------SONGS TABLET----------------------------------*/
@media screen and (max-width: 992px) {
  .song_title{
    height: 10vw;
    font-size: 3vw;
    border: white 0.5vw solid;
    border-radius: 3vw;
  }
  .song_content {
    grid-template-columns: 1fr;
    grid-template-rows: 75vw repeat(4, auto);
  }
  .song_content .song_player {
    width: 95%;
    height: 100%;
    margin:auto auto;
    grid-area: 1/1/2/1;
  }
  .song_content .song_chords { grid-area: 2/1/3/1; }
  .verse_rythm {
    padding-left: 3%;
    grid-area: 3/1/4/1;
  }
  .chorus_rythm { grid-area: 4/1/5/1; }
  .song_lyrics {
    background-color: black;
    grid-area: 5/1/6/1;
  }
  .song_lyrics p {margin-bottom: 50%;}
  .song_player h3, .song_player h4 { font-size: 4vw; }
  #mad_world .song_player h4{ font-size: 3vw; }
  .verse_rythm, .chorus_rythm{
    flex-direction: column; 
    font-size: 3vw;
    padding: 0;
  }
  .verse_rythm img {width: 95%; margin: 0; margin-bottom: -2%;}
  .chorus_rythm img {width: 70%; margin: 0; margin-bottom: -2%;}
  .song_chords ul li img, .song_chords ul li #E7, .song_chords ul li #F {
    width: 70%;
    height: auto;
  }
  .song_lyrics p { font-size: 3vw; }
  #mad_world .song_player { height: 100%; }
  #mad_world .verse_rythm{ grid-row: 3/5; }
  input[type="checkbox"]:checked + label + .song_content { max-height: max-content; }
  #coming_soon {
    margin-top: 10%;
    margin-bottom: 30%;
  }
}

/*----------------------------------INFO PAGE----------------------------------*/

#information :not(h2){ font-family: Century Gothic, sans-serif; }
#information h2 {
  font-size: 3vw;
  letter-spacing: 1vw;
}
#description {
  font-family: Century Gothic, sans-serif;
  display: flex;
}
#description img{
  width: 25%;
  height: 25%;
  margin-right: 5%;
}
#description p { line-height: 170%; }
#layouts {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
  padding-left: 0;
  flex-wrap: wrap;
  height: max-content;
}
#layouts li {
  text-align: center;
  width: 20%;
}
#layouts li img{
  width: 100%;
  margin: 2%;
  padding: 2%;
  background-color: #ED97CF;
  border-radius: 2vw;
}
#information h2 {
  font-size: 5vw;
  letter-spacing: 3vw;
  margin-bottom: 0;
}
#ps {
  font-size: 1.5vw;
  letter-spacing: 1vw;
  margin-bottom: 10%;
}
/*----------------------------------INFO TABLET----------------------------------*/
@media screen and (max-width: 992px) {
  
  #information h2 { font-size: 8vw; }
  #description {
    flex-direction: column;
    align-items: center;
  }
  #description img {
    width: 50%;
    margin-right: 0;
  }
  #description p {
    font-size: 4vw;
    line-height: 200%;
  }
  #layouts {
    flex-direction: column;
    align-items: center;
  }
  #layouts h3 { font-size: 5vw; }
  #layouts li {
    width: 70%;
    margin-bottom: 10%;
  }
  #layouts li img {
    width: 100%;
    margin: 0;
    border-radius: 4vw;
  }
  #ps {
    font-size: 5vw;
    margin-bottom: 30%;
  }
}

/*---------------------------------- ALL PAGES MOBILE ----------------------------------*/
@media screen and (max-width: 480px){
  #song_text p, #inspire p, footer p { font-size: 4vw; }
  #stock { height: 210vw; }
  .chord ul li h3, .song_chords ul li h3 { font-size: 5vw; }
  .play_icon{ width: 5vw; height: 5vw; }
  .song_title { font-size: 5vw;  height: 15vw;}
  .song_title strong { padding-left: 10%; }
}