@font-face {
  font-family: 'Bauhaus 93';
  src: url('Bauhaus93.ttf') format('truetype');
  font-family: 'Zone Em';
  src: url('ZoneEm.ttf') format('truetype');
  }

html {
  scroll-behavior: smooth;
  background-color: black;
  font-size: 1.2vw;
  color: white;
  padding: 0%;
  }
body {
  font-family: 'Bauhaus 93', sans-serif;
  letter-spacing: 0.2vw;
  margin: 0;
  padding: 0;
  text-align: center;
  position: relative;
  }
  /*-------------------------HEADER-------------------------*/
#logo_link {
  position: absolute;
  z-index: 3;
  width: 30%;
  height: 9vw;
  top: 0;
  left: 0;
}
header  {
  background-image: url('images/home/logo_header.webp');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1vw;
  padding: 0;
  width: 100%;
  height: 8.7vw;
}
#navtop {
  margin-right: 2%;
  margin-left: 45%;
}
#navtop ul {
  padding: 0.5vh;
  padding-left: 15%;
  padding-right: 0;
  font-size: 1.2vw;
  font-weight: bold;
  letter-spacing: 0.1vw;
  font-family: 'Bradley Hand ITC', 'Bauhaus 93', sans-serif;
  background-color: #ED97CF;
  padding-bottom: 90%;
  border-radius: 2vw;
  display: flex;
  text-align: center;
  justify-content: space-around;
  list-style-type: none;
  z-index: 4;
}
#navtop ul li a {
  text-decoration: none;
  color: black;
  padding-top: 2vw;
  padding-bottom: 2vw;

}
#navtop ul li {
  z-index: 4;
  margin-top: 0.5vw;
  padding: 1vw;
  border-radius: 1vw;
}

/* ------------------------- WELCOME SECTION -------------------------*/

#welcome h1{
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2vw;
  font-size: 5vw;
  letter-spacing: 2vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  color: #ED97CF;
}
#black {
  color: black ;
}
#white {
  z-index: 3;
  color: white;
  grid-column: 1/-1 ;
  font-size: 5.5vw;
}
#bg_welcome {
  margin-top: -31%;
  margin-left: -17%;
  width: 20%;
}
#welcome span img{
  margin-top: 14vw;
}
#welcome a{
  margin-left: -42%;
  margin-top: 5%;
  position: absolute;
  z-index: 5;
}

  /* ------------------------- MENU SECTION -------------------------*/


#menu_links {
  padding: 0;
  display: flex;
  margin-top: 0;
  margin-bottom: 7%;
  list-style-type: none;
  justify-content: center;
}
section nav ul li a img{
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 10%;
}
#menu_links li{
  background-color: #ED97CF;
  border-radius: 10%;
  width: 20%;
  margin: 2%;
}
.image_link {
  text-decoration: none;
  color: white;
  font-size: 2.5vw;
} 
.image_link p{
  margin-top: 0;
  margin-bottom: -20%;
}
#guitar_playing {
  margin-left: -6%;
  width: 105%;
  margin-top: -9%;
}
#pages {
  margin-top: 5%;
  width: 61%;
}
#man_walking {
  margin-top: -10%;
  margin-left: -14%;
}
  /* ------------------------- LEARN SECTION -------------------------*/

#learn {
  height: 40vw;
}
#learn h2 {
  margin-bottom: 1%;
}
#chord_choise{
  z-index: 0;
  width: 70%;
  height: 60%;
  background-color: #ED97CF;
  border-radius: 5vw;
  margin-left: 15%;
  margin-right: 15%;
  overflow: visible;
}
#learn div ul {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}
#guitar_zoom {
  position: absolute;
  width: 75%;
  margin-left: -35%;
  margin-right: 10%;
}
#d_chord {
  position: relative;
  align-self: self-start;
  margin-top: -5%;
  margin-left: 8%;
  width: 10%;
}
#g_chord {
  position: relative;
  align-self: self-end;
  margin-right: 8%;
  margin-top: -3%;
  width: 10%;
}
.chord_hidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  transition: visibility 0s, opacity 0.5s linear;
  top: 0;
  left: 0;
}
.circle {
  z-index: 6;
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: white;

}
#chord {
  width: 10%;
  display: grid;
  grid-template-rows: repeat(3, 1fr); 
  grid-template-columns: 1fr 1fr;
  margin-top: 1%;
  margin-right: 11%;
}
#first_finger {
  grid-area: 2/1/3/1;
}
#second_finger {
  grid-area: 1/2/2/2;
}
#third_finger {
  margin-top: -15%;
  grid-area: 3/2/4/2;
}
.choise {
  z-index: 8;
}
.choise img{
  width: 170%;
}
#chord_choise p{
  font-size: 2.5vw;
  margin-top: 0;
  margin-bottom: 2%;
}
#volume2 {
  width: 25%;
  margin-top: -4%;
}
#volume3 {
  margin-top: 5%;
}
#chord_choise p {
  margin: 0;
}
/* ------------------------- STOCK SECTION -------------------------*/

#stock {
  height: 40vw;
}
#stock h2 {
  margin-top: 5%;
  margin-bottom: 0;
}
#song {
  font-family: Century Gothic, sans-serif;
  font-size: 1.3vw;
  width: 75%;
  height: 60%;
  margin-bottom: 2%;
  margin-left: 12.5%;
  margin-right: 12.5%;
  overflow: visible;
}
#song  ul{
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
#song_player {
  width: 40%;
  height: 117%;
  background-color: #ED97CF;
  border-radius: 10%;
  border: 0.4vw solid white;
  position: relative;
}
#song_player h3, h4 {
  text-align: left;
  margin: 0;
  margin-top: 2%;
  margin-left: 4%;
  color: black;
  position: relative;
  z-index: 7;
}
#song_player img {
  position: absolute;
  top: 10%;
  left: 7.5%;
}
#song_player #album {
  width: 55%;
  left: 22.5%;
}
#player {
  width: 85%;
  position: relative;
  z-index: 8;
  
}
#song_text {
  font-family: Century Gothic, sans-serif;
  width: 60%;
  text-align: center;
}
#song_text p {
  margin-left: 5%;
  line-height: 140%;
  letter-spacing: 0.1vw;
}
#song_text span {
  margin-right: 25%;
}
#song_text strong {
  padding: 0.5%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #ED97CF;
  border-radius: 0.5vw;
}
#stock a {
  margin-right: 15%;
}
/* ------------------------- INSPIRE SECTION -------------------------*/
#inspire {
  height: 40vw;
  margin-bottom: 10%;
}
#inspiration  {
  width: 50%;
  margin-top: -2%;
  margin-left: -15%
}
#inspire p {
  font-family: Century Gothic, sans-serif;
  font-size: 1.3vw;
}
#volume4 {
  margin-top: -4%;
}
/* ------------------------- FOOTER -------------------------*/
footer {
  font-family: Century Gothic, sans-serif;
  color: black;
  font-weight: bold;
  background-color: #ED97CF;
  border-top-left-radius: 2.5vw;
  border-top-right-radius: 2.5vw;
  margin: auto auto;
  width: 95%;
  height: 17vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

footer p {
  font-size: 1.3vw;
  margin: 0.5vw;
}
#logo_footer {
  width: 20%;
  margin-top: -5%;
  background-color: black;
  border-radius: 2vw;
}
#logo_footer img {
  width: 70%;
  margin-bottom: 5%;
}
#navbottom {
  display: flex;
  justify-content: center;
  background-color: black;
  align-items: center;
  width: 50%;
  height: 35%;
  border-radius: 2vw;
} 
#navbottom a {
  width: 10%;
  margin-left: 5%;
  margin-right: 5%;
}
#navbottom a img {
  width: 110%;
}

/* ------------------------- HOME CLASSES -------------------------*/
.titles{
  text-align: right;
  font-size: 4vw;
  letter-spacing: 1.5vw;
  margin-right: 10%;
}
.button{
  padding: 0.8vw;
  padding-top: 0;
  font-size: 2.5vw;
  color: black;
  text-decoration: none;
  background-color: white;
  border: 0.4vw solid #ED97CF;
  border-radius: 1vw;
  margin-top: 1vw;
  text-align: right;
  float: right;
}

.decorative_icon{
  margin-bottom: -4vw;
  margin-left: -3vw;
  width: 7vw;
}
.bg_volume img{
  float: left;
  width: 18%;
}

/* ---------- HOME ANIMATIONS ---------------*/
#navtop ul li{
  transition: all 0.5s ease-in-out;
}

#navtop ul li:hover {
  transition: 0.5s ease-in-out;
  background-color: rgb(234, 206, 227, 0.5);
  border-radius: 1.5vw;
  transform: translateY(-0.1vw);
  
}
.button {
  transition: all 0.5s ease-in-out;
}
.button:hover {
  position: relative;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 1vw white;
  transform: translateY(-0.1vw);
}
#menu_links li {
  transition: all 0.5s ease-in-out;
}
#menu_links li:hover {
  position: relative;
  transition: 0.5s ease-in-out;
  box-shadow: 0 0 1.5vw white;
  transform: translateY(-0.2vw);
}
#d_chord_green, #g_chord_red, #chord {
  transition: all 0.5s ease-in-out;
}
#d_chord:hover #d_chord_green {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
#g_chord:hover #g_chord_red{
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
  
}
#chord:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}
#navbottom a img {
  transition: all 0.5s ease-in-out;
}
#navbottom a img:hover {
  transition: 0.5s ease-in-out;
  transform: translateY(-0.2vw);
}

  /* -------------------------------------------------- HOME MOBILE --------------------------------------------------*/
  @media screen and (max-width: 740px) {
    /* html {
      scroll-behavior: smooth;
      background-color: black;
      font-size: 1.2vw;
      color: white;
      padding: 0%;
      } */
    /*  body {
      font-family: 'Bauhaus 93', sans-serif;
      letter-spacing: 0.2vw;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-align: center;
      position: relative;
      } */
      /*-------------------------HEADER-------------------------*/
    #logo_link {
      width: 100%;
      height: 35vw;
    }
    header {
    background-image: url('images/home/logo_header_mobile.webp');
    background-size: 100%;
    height: 75vw;
    }
    #navtop {
      margin:0%;
    }
    #navtop ul {
      position: relative;
      width: 80%;
      margin: auto auto;
      padding: 0;
      top: 40vw;
      font-size: 5vw;
      border-radius: 4vw;
      flex-direction: column;
    }
    #navtop ul li a {
      padding-left: 20%;
      padding-right: 20%;
    }
    
    /* ------------------------- WELCOME SECTION -------------------------*/
    
    #welcome h1 {
      /* text-align: center; */
      /* margin-left: 5%; */
      /* margin-right: 5%; */
      /* margin-top: 2vw; */
      font-size: 12vw;
      /* letter-spacing: 2vw; */
      /* display: grid; */
      display: flex;
      flex-direction: column;
      align-items: start;
      /* grid-template-columns: 1fr 1fr; */
      /* grid-template-rows: auto auto; */
      color: #ED97CF;
      letter-spacing: 3vw;
      position: relative;
      z-index: 5;
      }
    #black {
      text-shadow: 0 0 2vw rgb(255, 255, 255)
      }
    #white {
      /* z-index: 3;
      color: white;
      grid-column: 1/-1 ; */
      font-size: 12vw;
    }
    #bg_welcome {
      /* margin-top: -31%;
      margin-left: -17%;
      width: 20%; */
      position: absolute;
      z-index: 4;
      top: 15%;
      left: 80%;
      width: 32%;
    }
    /* #welcome span img{
      margin-top: 14vw;
    } */
    #welcome {
      height: 80vw;
    }
    #welcome a{
      margin-top: -5%;
      margin-left: -25%;
      /* position: absolute;
      z-index: 5; */
    }
    
      /* ------------------------- MENU SECTION -------------------------*/
    
    
    #menu_links {
      padding: 0;
      display: flex;
      margin-top: 0;
      margin-bottom: 7%;
      list-style-type: none;
      justify-content: center;
    }
    section nav ul li a img{
      padding-left: 5%;
      padding-right: 5%;
      border-radius: 10%;
    }
    #menu_links li{
      background-color: #ED97CF;
      border-radius: 10%;
      width: 20%;
      margin: 2%;
    }
    .image_link {
      text-decoration: none;
      color: white;
      font-size: 2.5vw;
    } 
    .image_link p{
      margin-top: 0;
      margin-bottom: -20%;
    }
    #guitar_playing {
      margin-left: -6%;
      width: 105%;
      margin-top: -9%;
    }
    #pages {
      margin-top: 5%;
      width: 61%;
    }
    #man_walking {
      margin-top: -10%;
      margin-left: -14%;
    }
      /* ------------------------- LEARN SECTION -------------------------*/
    
    #learn {
      height: 40vw;
    }
    #learn h2 {
      margin-bottom: 1%;
    }
    #chord_choise{
      z-index: 0;
      width: 70%;
      height: 60%;
      background-color: #ED97CF;
      border-radius: 5vw;
      margin-left: 15%;
      margin-right: 15%;
      overflow: visible;
    }
    #learn div ul {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style-type: none;
    }
    #guitar_zoom {
      position: absolute;
      width: 75%;
      margin-left: -35%;
      margin-right: 10%;
    }
    #d_chord {
      position: relative;
      align-self: self-start;
      margin-top: -5%;
      margin-left: 8%;
      width: 10%;
    }
    #g_chord {
      position: relative;
      align-self: self-end;
      margin-right: 8%;
      margin-top: -3%;
      width: 10%;
    }
    .chord_hidden {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      transition: visibility 0s, opacity 0.5s linear;
      top: 0;
      left: 0;
    }
    .circle {
      z-index: 6;
      width: 2vw;
      height: 2vw;
      border-radius: 50%;
      background-color: white;
    
    }
    #chord {
      width: 10%;
      display: grid;
      grid-template-rows: repeat(3, 1fr); 
      grid-template-columns: 1fr 1fr;
      margin-top: 1%;
      margin-right: 11%;
    }
    #first_finger {
      grid-area: 2/1/3/1;
    }
    #second_finger {
      grid-area: 1/2/2/2;
    }
    #third_finger {
      margin-top: -15%;
      grid-area: 3/2/4/2;
    }
    .choise {
      z-index: 8;
    }
    .choise img{
      width: 170%;
    }
    #chord_choise p{
      font-size: 2.5vw;
      margin-top: 0;
      margin-bottom: 2%;
    }
   /*  #volume2 {
      width: 25%;
      margin-top: -4%;
    }
    #volume3 {
      margin-top: 5%;
    } */
    #chord_choise p {
      margin: 0;
    }
    /* ------------------------- STOCK SECTION -------------------------*/
    
    #stock {
      height: 40vw;
    }
    #stock h2 {
      margin-top: 5%;
      margin-bottom: 0;
    }
    #song {
      font-family: Century Gothic, sans-serif;
      font-size: 1.3vw;
      width: 75%;
      height: 60%;
      margin-bottom: 2%;
      margin-left: 12.5%;
      margin-right: 12.5%;
      overflow: visible;
    }
    #song  ul{
      height: 100%;
      padding: 0;
      display: flex;
      justify-content: center;
      list-style-type: none;
    }
    #song_player {
      width: 40%;
      height: 117%;
      background-color: #ED97CF;
      border-radius: 10%;
      border: 0.4vw solid white;
      position: relative;
    }
    #song_player h3, h4 {
      text-align: left;
      margin: 0;
      margin-top: 2%;
      margin-left: 4%;
      color: black;
      position: relative;
      z-index: 7;
    }
    #song_player img {
      position: absolute;
      top: 10%;
      left: 7.5%;
    }
    #song_player #album {
      width: 55%;
      left: 22.5%;
    }
    #player {
      width: 85%;
      position: relative;
      z-index: 8;
      
    }
    #song_text {
      font-family: Century Gothic, sans-serif;
      width: 60%;
      text-align: center;
    }
    #song_text p {
      margin-left: 5%;
      line-height: 140%;
      letter-spacing: 0.1vw;
    }
    #song_text span {
      margin-right: 25%;
    }
    #song_text strong {
      padding: 0.5%;
      padding-left: 5%;
      padding-right: 5%;
      background-color: #ED97CF;
      border-radius: 0.5vw;
    }
    #stock a {
      margin-right: 15%;
    }
    /* ------------------------- INSPIRE SECTION -------------------------*/
    #inspire {
      height: 40vw;
      margin-bottom: 10%;
    }
    #inspiration  {
      width: 50%;
      margin-top: -2%;
      margin-left: -15%
    }
    #inspire p {
      font-family: Century Gothic, sans-serif;
      font-size: 1.3vw;
    }/* 
    #volume4 {
      margin-top: -4%;
    } */
    /* ------------------------- FOOTER -------------------------*/
    footer {
      font-family: Century Gothic, sans-serif;
      color: black;
      font-weight: bold;
      background-color: #ED97CF;
      border-top-left-radius: 2.5vw;
      border-top-right-radius: 2.5vw;
      margin: auto auto;
      width: 95%;
      height: 17vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
    }
    
    footer p {
      font-size: 1.3vw;
      margin: 0.5vw;
    }
    #logo_footer {
      width: 20%;
      margin-top: -5%;
      background-color: black;
      border-radius: 2vw;
    }
    #logo_footer img {
      width: 70%;
      margin-bottom: 5%;
    }
    #navbottom {
      display: flex;
      justify-content: center;
      background-color: black;
      align-items: center;
      width: 50%;
      height: 35%;
      border-radius: 2vw;
    } 
    #navbottom a {
      width: 10%;
      margin-left: 5%;
      margin-right: 5%;
    }
    #navbottom a img {
      width: 110%;
    }
    
    /* ------------------------- HOME CLASSES -------------------------*/
    .titles{
      /* text-align: right; */
      font-size: 7.5vw;
      /* letter-spacing: 1.5vw;
      margin-right: 10%; */
    }
    .button{
      /* padding: 0.8vw; */
      /* padding-top: 0; */
      font-size: 7vw;
      /* color: black; */
      /* text-decoration: none;
      background-color: white; */
      border: 1vw solid #ED97CF;
      border-radius: 2vw;
      /* margin-top: 1vw;
      text-align: right;
      float: right; */
    }
    
    .decorative_icon{
      margin-bottom: -7vw;
      margin-left: -4vw;
      width: 12vw;
    }
    .bg_volume {
      display: none;
    /* img{
      float: left;
      width: 18%; */
    }
      /* ---------- HOME ANIMATIONS ---------------*/

    #navtop ul li:hover {
      border-radius: 5vw;
      transform: translateY(-0.2vw); 
    }
    #menu_links li:hover {
      position: relative;
      transition: 0.5s ease-in-out;
      box-shadow: 0 0 1.5vw white;
      transform: translateY(-0.2vw);
    }
    #d_chord_green, #g_chord_red, #chord {
      transition: all 0.5s ease-in-out;
    }
    #chord:hover {
      transition: 0.5s ease-in-out;
      transform: scale(1.1);
    }
    #navbottom a img:hover {
      transition: 0.5s ease-in-out;
      transform: translateY(-0.2vw);
    }
    
  }

